<table class='table table-hover'>
  <thead>
    <tr>
      <th>Picture Title</th>
      <th>Description</th>
      <th>Category</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= picture.description %></td>
        <td><%= picture.category %></td>
        <td><%= link_to 'Show', picture, class: 'btn btn-xs btn-default' %></td>
        <td><%= link_to 'Destroy', picture, class: 'btn btn-xs btn-default', method: :delete, 
                                            data: { 
                                              confirm: 'Are you sure you want to delete this picture?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


