<h1><%= @picture.title %></h1>

<h3>Description:</h3>
<p><%= @picture.description %></p>

<h3>Category:</h3>
<p><%= @picture.category %></p>

<%= image_tag @picture.photo.url(:medium) %>


<%= link_to 'Home', root_path %> | | 
<%= link_to 'Delete', @picture, method: :delete, 
                                data: {
                                  confirm: 'Are you sure you want to delete this project?'} %>

